.container{
    /* background-image:url('C:\Users\dasan\Desktop\rick_and_morty\src\resources\background_card.jpg') ; */
    background-image:url('../../resources/background_card.jpg') ;
    width: fit-content;
    padding: 1em;
    border-radius: 15px;
    box-shadow: rgba(46, 240, 65, 0.4) -5px 5px, rgba(146, 240, 46, 0.3) -10px 10px, rgba(82, 240, 46, 0.2) -15px 15px, rgba(78, 240, 46, 0.1) -20px 20px, rgba(172, 240, 46, 0.05) -25px 25px;
    display: flex;
    flex-direction: column;
}

.closeButton{
    background-color: rgb(237, 11, 11);
    border: 0px;
    width: 40px;
    height: 50px;
    border-radius: 20px;
    transition: 0.5s;
    /* display: flex; */
        /* justify-content: end;
        align-items: end; */
}

.closeButton:hover {
    background-color: rgb(255, 0, 183);
    box-shadow: rgba(240, 46, 91, 0.4) 0px 5px, rgba(240, 46, 59, 0.3) 0px 10px, rgba(240, 46, 91, 0.2) 0px 15px, rgba(240, 46, 85, 0.1) 0px 20px, rgba(240, 46, 85, 0.05) 0px 25px;
  }
